<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Dashboard</title>


</head>

<body>
    <%- include('includes/nav') %>
    <%- include('includes/navSide') %>

    <div class="row">
        <div class="col-lg-8 mx-auto my-3">
            <h1 class="text-center">Loteamentos</h1>
            <p class="text-center lead mb-3">Seus loteamentos estão abaixo</p>
            <%- include('includes/messages') %>
        
            <% if(lots.length > 0) { %>
                <div class="responsive-table">
                    <table class="table my-3">
                        <thead>
                            <tr>
                               <th>#</th>
                                <th>Endereço</th>
                                <th>Complemento</th>
                                <th>Cidade</th>
                                <th>Estado</th>
                                <th>CEP</th>
                            </tr>
                        </thead>
                        <tbody>
                           <% lots.forEach((lot, index) => { %>
                                <tr>
                                    <td><%= index + 1 %></td>
                                    <td><%= lot.endereco %></td>
                                    <td><%= lot.complemento %></td>
                                    <td><%= lot.cidade %></td>
                                    <td><%= lot.estado %></td>
                                    <td><%= lot.cep %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <p class="text-center lead">Não existem loteamentos salvos.</p>
            <% } %>
        </div>
    </div>
</body>

</html>